<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-light text-black-50">
  <div class="container text-center">
    <small>Copyright &copy; Taylon Earle</small>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/js/preloader.js" async="async" defer="defer"></script>
</body>
</html>
