<%- include('partials/header'); -%>

<div class="px-4 pt-5 my-5 text-center">
    <h1>Well this is embarrassing</h1>
    <h2>This page is under construction</h2>
    <p>Come back soon to learn all about me</p>
</div>

<%- include('partials/footer'); -%>