<%- include('partials/header'); -%>




<div class="intro">
    <div class="intro-text slideanim">
    <h1>Taylon James Earle</h1>
    <h2>Future Front End Developer</h2>
    </div>
    </div>



    <div id="aboutme">
        <div id="aboutme-text" class="slideanim">
        <h2>About Me</h2>
        <p>
            I am a full stack web developer with a passion for creating beautiful, responsive websites. I have a background in
            business management and a love for technology. I am currently looking for a position in the web development
            industry.
        </p>
        </div>
    </div>


    <div id="contactme">
        <div id="contactme-text" class="slideanim">
        <h2>Contact Me</h2>
        <p>
            Email:<a href="mailto: info@taylonearle.com">info@taylonearle.com</a>
            </p>
        </div>
    </div>

<%- include('partials/footer'); -%>