<%- include('partials/header'); -%>

    <div class="intro">
        <div class="intro-text slideanim">
            <h1>Taylon James Earle</h1>
            <h2>Future Front End Developer</h2>
        </div>
    </div>

    <div id="aboutme">
        <div id="aboutme-text" class="slideanim">
            <h2>About Me</h2>
            <p>
                Hailing from the great state of Michigan. I am a full stack web developer with a
                passion for creating beautiful, responsive websites. I have a background in
                business management and a love for technology. I am currently looking for a
                position in the web development industry.
            </p>
        </div>
    </div>



<<<<<<< Updated upstream
    <div id="aboutme">
        <div id="aboutme-text" class="slideanim">
        <h2>About Me</h2>
        <p>
            I am a full stack web developer with a passion for creating beautiful, responsive websites. I have a background in
            business management and a love for technology. I am currently looking for a position in the web development
            industry.
        </p>
=======
    <div id="resume">
        <div id="resume-blocks" class="slideanim">
            <h2>Where I Have Worked</h2>
            <div class="resume-div">
                <div class="resume-block">
                    <h3>Real Time Analyst</h3>
                    <h5>Rock Connections</h5>
                <ul>
                    <li>Experience in Five9, Verint and various software</li>
                    <li>Lead morning call performance review and upcoming outlook to maximize customer service responsiveness,
                        preparation, and communications.</li>
                    <li>Help operate the internal processes, scheduling templates, user profiles, rule sets, auto scheduler functions,
                        to support efficient scheduling.</li>
                </ul>
                </div>
                <div class="resume-block">
                    <h3>Real Time Analyst</h3>
                    <h5>Morley</h5>
                    <ul>
                        <li>Deep knowledge of contact center processes, procedures, and performance metrics, and can innovate and improve
                            processes to fit the needs of the business.</li>
                        <li>Intermediate knowledge of call center management and all related calculations</li>
                        <li>Intermediate knowledge of various forecasting/scheduling software</li>
                        <li>Ability to prioritize workload, meet deadlines, and perform multiple tasks with attention to detail</li>
                        <li>Ability to analyze and communicate call center data/forecasts to all levels of employees in an understandable
                            fashion</li>
                        <li>Ability to work independently with minimal supervision.</li>
                        <li>Experience in IEX Workforce Management, Avaya, and various software</li>
                    </ul>
                </div>
            </div>
            <h3>Want to See More?</h3>
            <button type="button" class="btn btn-primary" id="resumeButton">See More</button>
>>>>>>> Stashed changes
        </div>
    </div>




    <div id="contactme">
        <div id="contactme-text" class="slideanim">
            <h2>Contact Me</h2>
            <p>
                Email:<a href="mailto: info@taylonearle.com">info@taylonearle.com</a>
            </p>
            <p>
                Phone - 810-247-4084
            </p>
        </div>
    </div>

    <%- include('partials/footer'); -%>