
html {
    scroll-behavior: smooth;
}



/* Color pallete 
https: //colorhunt.co/palette/06283d1363df47b5ffdff6ff */


/* Slide Animation */

.slideanim {
    visibility: hidden;
    visibility: visible\9;
    /*For old IE browsers IE6-8 */
}

.slideanim.slide {
    visibility: visible;
    animation: slide 1s;
}

.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    text-align: center;
    margin: 0 auto;
}

/* Header & */


.footer-padding {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;

}

.footer {
    padding-bottom: 2%;
}

.footer p {
    font-size: 12px;
    color: black;
    font-size: 2rem;
}

/* Intro */
.intro {
    text-align: center;
    height: 100vh;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/headerbackground.jpg");
    background-size: cover;
    padding-top: 0;
    margin: 0;

}

.intro-text {
    color: white;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 50px;
    border: 1px solid white;

}

/* About */
#aboutme {
    background-color: #1363DF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}

#aboutme-text {
    text-align: center;

}
#aboutme-text h2 {
    font-size: 50px;
    padding: 30px;
}

#aboutme-text p {
    font-size: 25px;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

/* Contact */

#contactme {
    background-color: #06283D;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#contactme-text {
    text-align: center;

}

#contactme-text p {
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

#contactme-text a {
    text-align: center;
    padding-left: 20px;
    color: white;
}

#contactme-text a:hover {
    color: rgb(152, 152, 152);
}

#contactme-text h2 {
    font-size: 50px;
    padding: 30px;
}


/* Resume */


#resume {
    background-color: #47B5FF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10vh 0;
}

.resume-block {
    padding: 5%;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}


.resume-blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.resume-block ul { 
    list-style-type: none;
    padding: 1% 0;
}

.resume-block li {
    margin: 1% 0;
}

/* Media qurey section */
@media screen and (min-width: 1024px) {
    #aboutme {
        height: 100vh;
        width: 100%;
        padding: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;

    }

    #contactme {
        width: 100%;
        height: 100vh;

    }

}
@media screen and (min-width: 768px) and (max-width: 1024px) {

    #aboutme { 
        padding: 4vh;
    }
    #aboutme-text {
        text-align: center;
        height: 100%;
        width: 100%;
        display: flex-column;
        justify-content: center;
        align-items: center;
        padding: 30px 0 50px;

    }

    #aboutme-text h2 {
        font-size: 10vw;
        padding: 30px;
    }

    #aboutme-text p {
        font-size: 5vw;
        width: 75%;
        text-align: center;
        margin: 0 auto;
    }

    #contactme {
        text-align: center;
        height: 100%;
        width: 100%;
        display: flex-column;
        justify-content: center;
        align-items: center;
        padding: 30px 0 50px;
    }

    .container {
        margin: 0;
        height: 50px;
    }

}




@media screen and (max-width: 768px) {
   
    #aboutme {
            padding: 4vh;
        }


#aboutme-text p {

    width: 90%;


}

#contactme { padding: 5vh;}

.resume-block li {
    margin: 4% 0;
}

}